# Node modules
node_modules/

# Environment files
.env

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Docker
*.tar

# Kubernetes
kubeconfig

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db